<%= simple_form_for article do |form| %>
2:       
3:        <%= form.input :title %>
4:        <%= form.input :body, input_html: { rows: 10 } %>
5:        
6:        <br>
7:    
8:        <p>
9:            <%= form.button :submit, class: 'btn btn-primary' %>
10:            <%= link_to 'Back', root_path, class: 'btn btn-black' %>
11:            
12:        </p>
13:       
14:   <% end %>